<form class='compact-sheet gurps-ui' autocomplete='off'>
  <div id='character-header'>
    <div id='header-image'>
      <img class='profile-img' src='{{actor.img}}' data-edit='img' alt='{{data.name}}' />
      <button type='button'>{{localize 'gurps2.character.desc.imageshare'}}</button>
    </div>

    <div id='header-data'>
      <input name='name' type='text' value='{{actor.name}}' placeholder='{{localize "gurps2.character.desc.name"}}' />

      {{#each data.data.desc.settings.visible as |tag|}}
        {{debug ..}}
        <label for='{{tag}}'>{{localize (concat 'gurps2.character.desc.' tag)}}</label>
        <input id='{{tag}}' name='{{concat "data.desc." tag}}' type='text' value='{{lookup ../data.data.desc tag}}' />
      {{/each}}
    </div>
    <div id='header-data-detail'>
      {{#if displayFlags.descDetailsOpen}}
        <button id='header-detail-accordion'
          class='accordion active'>{{localize 'gurps2.character.desc.details'}}</button>
        <div id='header-detail-fields' class='accordion-content' style='max-height: 100%;'>
      {{else}}
        <button id='header-detail-accordion' class='accordion'>{{localize 'gurps2.character.desc.details'}}</button>
        <div id='header-detail-fields' class='accordion-content' style='max-height: 0;'>
      {{/if}}
      <!-- This is a list of key-value pairs that may be imported from GCS/GCA and/or managed by the user inside Forge -->
      {{#each data.data.desc.settings.details as |tag|}}
        <label for='{{tag}}'>{{localize (concat 'gurps2.character.desc.' tag)}}</label>
        <input id='{{tag}}' name='{{concat "data.desc." tag}}' type='text' value='{{lookup ../data.data.desc tag}}' />
      {{/each}}
      <div id='appearance'>
        <textarea id='appearance' rows='3' name='data.desc.appearance'
          placeholder='{{localize "gurps2.character.desc.appearance"}}'>{{data.data.desc.appearance}}</textarea>
        <div class="fab-container">
          <div id='edit-header' class='iconbutton actorsheet-control' data-action="edit-header">
            <i class="fas fa-pencil-alt"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <div>Another div</div>
</form>