<form class='character-header-editor gurps-ui' autocomplete='off'>
  <div>
    <div id='data'>
      <div class='select'>
        {{#each allTags as |tag|}}
          <label><input id='{{tag}}-editor' type='checkbox' value='{{tag}}' />
            <span>{{localize (concat 'gurps2.character.desc.' tag)}}</span>
          </label>
        {{/each}}
      </div>
      <div class='controls'>
        <button class='headereditor-control' data-action='visible::add'>
          {{localize 'gurps2.character.desc.visible'}}&emsp;<i class='fas fa-chevron-right'></i>
        </button>
        <button class='headereditor-control' data-action='details::add'>
          {{localize 'gurps2.character.desc.details'}}&emsp;<i class='fas fa-chevron-right'></i>
        </button>
      </div>
      <div class='lists'>
        <div>
          <label>{{localize 'gurps2.character.desc.visible'}}</label>
          <ul id='visible-list' class='select'>
            {{#each visible as |tag|}}
              <li>
                <span class='text'>{{localize (concat 'gurps2.character.desc.' tag)}}</span>
                <span class='close headereditor-control' data-action='visible::delete' data-value='{{@index}}'><i
                    class='fas fa-times'
                  ></i></span>
              </li>
            {{/each}}
          </ul>
        </div>
        <div>
          <label>{{localize 'gurps2.character.desc.details'}}</label>
          <ul id='details-list' class='select'>
            {{#each details as |tag|}}
              <li>
                <span class='text'>{{localize (concat 'gurps2.character.desc.' tag)}}</span>
                <span class='close headereditor-control' data-action='details::delete' data-value='{{@index}}'><i
                    class='fas fa-times'
                  ></i></span>
              </li>
            {{/each}}
          </ul>
        </div>
      </div>
      <div class='examples'>
        <div>
          <label>{{localize 'gurps2.character.desc.visible'}}</label>
          <div id='visible-example'>
            {{#each visible as |tag|}}
              <label>{{localize (concat 'gurps2.character.desc.' tag)}}</label>
            {{/each}}
          </div>
        </div>
        <div>
          <label>{{localize 'gurps2.character.desc.details'}}</label>
          <div id='details-example'>
            {{#each details as |tag|}}
              <label>{{localize (concat 'gurps2.character.desc.' tag)}}</label>
            {{/each}}
          </div>
        </div>
      </div>
    </div>
    <div id='buttonbar'></div>
  </div>
</form>